{% extends 'base.njk' %} {% block body %}

<main class="container mt-5">
  <form class="row g-3" id="signIn">
    <div class="col-md-6">
      <label for="name" class="form-label">Nome</label>
      <input required type="text" class="form-control" id="name" />
      <small class="small text-danger d-none">Nome inválido</small>
    </div>
    <div class="col-md-6">
      <label for="lastName" class="form-label">Sobrenome</label>
      <input required type="text" class="form-control" id="lastName" />
      <small class="small text-danger d-none">Sobrenome inválido</small>
    </div>
    <div class="col-md-6">
      <label for="email" class="form-label">E-mail</label>
      <input required type="email" class="form-control" id="email" placeholder="apollo.bl@email.com" />
      <small class="small text-danger d-none">E-mail inválido</small>
    </div>
    <div class="col-md-6">
      <label for="password" class="form-label">Senha</label>
      <input required type="password" class="form-control" id="password" />
      <small class="small text-danger d-none">A senha precisa ter pelo menos 8 caracteres</small>
    </div>
    <div class="col-md-4">
      <label for="instagram" class="form-label">Instagram</label>
      <input type="text" class="form-control" id="instagram" placeholder="@gabriel.hsilva" />
    </div>
    <div class="col-md-4">
      <label for="twitter" class="form-label">Twitter</label>
      <input type="text" class="form-control" id="twitter" placeholder="@Gabriel_hsilva" />
    </div>
    <div class="col-md-4">
      <label for="linkedin" class="form-label">LinkedIn</label>
      <input type="text" class="form-control" id="linkedin" placeholder="/in/ogabriel-henrique/" />
    </div>
    <div class="col-md-6">
      <label for="bio" class="form-label">Bio</label>
      <textarea required style="height: 98px;" id="bio" class="form-control"></textarea>
      <small class="small">150</small>
    </div>
    <div class="col-md-3">
      {% if ufs %}
      <label for="state" class="form-label">Estado</label>
      <select id="state" class="form-select">
        {% for uf in ufs %}
        <option value="{{ uf.sigla }}">{{ uf.nome }}</option>
        {% endfor %}
      </select>
      {% endif %}
    </div>
    <div class="col-md-3">
      <label for="gender" class="form-label">Sexo</label>
      <select id="gender" class="form-select">
        <option value="M" selected>Masculino</option>
        <option value="F">Feminino</option>
        <option value="O">Outro</option>
      </select>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Cadastrar-se</button>
    </div>
  </form>
</main>

{% endblock %}
